In [13]:
class Employee :
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
        
harry = Employee('harry' , 'jackson' , 44000)
rohan = Employee('rohan' , 'das' , 44000)

print(harry.fname , harry.lname)
print(rohan.fname , rohan.lname)

harry jackson
rohan das

# class Teacher:
    increment = 1.5
    def __init__(self , name , age , salary):
        self.name = name
        self.age = age
        self.salary = salary
        self.increment = 1.4
        
    def increase(self):
        self.salary = int(self.salary * Teacher.increment)    
    
        
T1 = Teacher('Isha' , 20 , 20000 )
T2 = Teacher('Nikhil' , 21 , 40000)

print(T1.name ,T1.age ,T1.salary )
print(T2.name ,T2.age ,T2.salary)
print(T1.salary)

T1.increase()
print(T1.salary)

In [38]:
class Employee:
    increment = 1.5
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def increase(self):
        self.salary  =int(self.salary*Employee.increment)
    @classmethod
    def change_increment(cls,amount):
        cls.increment = amount
        
        
harry = Employee('harry', 'jackson',20000)
rohan = Employee('rohan', 'das', 40000)

print(harry.salary)
# harry.increase()
# print(harry.salary)
Employee.change_increment(2)
harry.increase()
print(harry.salary)

20000
40000

In [40]:
class Employee:
    increment = 1.5
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def increase(self):
        self.salary  =int(self.salary*Employee.increment)
    @classmethod
    def change_increment(cls,amount):
        cls.increment = amount
#     @staticmethod  for making independent function which is neither present in class nor in instance
        
    @staticmethod
    def isopen(day):
        if day == "sunday":
            return False
        else:
            return True
            
        
        
harry = Employee('harry', 'jackson',20000)
rohan = Employee('rohan', 'das', 40000)
print (Employee.isopen('sunday'))
print (Employee.isopen('monday'))
# print(harry.salary)
# # harry.increase()
# # print(harry.salary)
# Employee.change_increment(2)
# harry.increase()
# print(harry.salary)

False
True

In [45]:
class Employee :
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
        
harry = Employee('harry' , 'jackson' , 44000)
rohan = Employee('rohan' , 'das' , 44000)

# print(harry.fname , harry.lname)
# print(rohan.fname , rohan.lname)

class Programmer(Employee):
    def __init__(self , fname , lname ,salary, proglan , exp):
        super().__init__(fname , lname , salary)
        self.proglan = proglan
        self.exp = exp
        
harry = Programmer('harry' , 'jackson' , 44000 ,'python' , 'exp is 5 yrs')
rohan = Programmer('rohan' , 'das' , 44000 , 'ml' ,'exp is 2 yrs')

print(harry.proglan)
print(harry.exp)

python
exp is 5 yrs

# Revision

In [3]:
class Developer:
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
Nirav = Developer('Nirav' , 'Nikhil' , 50000)
Nidhi = Developer('Nidhi' , 'Jakhmola' , 50000)

print(Nirav.fname , Nirav.lname , Nirav.salary)

Nirav Nikhil 50000

# Instance and classs variable

In [8]:
class Developer:
    def __init__ (self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
        self.increment = 1.4
    def increase(self):
        self.salary  = self.salary * self.increment
        
ABC = Developer('NIrav', 'Nikhil' , 50000 )
print(ABC.salary)
ABC.increase()
print(ABC.salary)

50000
70000.0

In [13]:
class Developer:
    increment = 2.0
    def __init__(self, fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def increase(self):
        self.salary = int(self.salary * Developer.increment)
        
Nirav = Developer('Nirav','Nikhil',100000)
Nikhil = Developer('Nikhil','Sriv',90000)

print(Nikhil.salary)
Nikhil.increase()
print(Nikhil.salary)

90000
180000

# Class Method:

In [20]:
class Developer:
    increment = 1.5
    def __init__(self,fname,lname,salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def increase(self):
        
        self.salary = int(self.salary*Developer.increment)
    @classmethod
    def change_increment(cls , amount):
        cls.increment = amount
        
Nirav = Developer('Nirav', 'Nikhil' ,100000)
Nikhil = Developer('Nikhil', 'Sriv' ,200000)

# print(Nirav.salary)
# Nirav.increase()
# print(Nirav.salary)
Developer.change_increment(2)
Nirav.increase()
print(Nirav.salary)

200000

In [ ]:
a = input('enter a number')